@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Special+Elite&display=swap');

* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  font-family: 'Oswald', sans-serif;
  color: #2e333b;
}

h1 {
  font-family: 'Special Elite', cursive;
  color: #770606;
  text-transform: uppercase;
  letter-spacing: 5px;
}

header {
  margin-bottom: 10px;
}

#logo {
  float: left;
  font-size: 800%;
  margin: 50px 0 0 50px;
}

#menu {
  list-style-type: none;
  letter-spacing: 5px;
  float: right;
  font-size: 200%;
  margin-top: 50px;
}

#menu li {
  float: left;
  margin-right: 50px;
}

#menu a {
  text-decoration: none;
  color: inherit;
  padding: 0 0 0 5px;
  border-radius: 5%;
}

#logo,
#menu {
  line-height: 100px;
}

#menu a:hover {
  background-color: #770606;
  color: #ffffff;
}

.active {
  border-bottom: 5px solid #770606;
}

#hero-image {
  height: 600px;
  width: 100%;
  background: url(../img/index/wine-bar.-hero.jpg) no-repeat center center;
  background-size: cover;
  overflow: hidden;
  animation-name: hero-zoom;
  animation-duration: 5s;
  animation-fill-mode: forward;
}

#hero-outer {
  height: 600px;
  width: 100%;
  overflow: hidden;
  position: relative;
}

@keyframes hero-zoom {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.1);
  }
}

#overlay-text {
  font-size: 130%;
  font-family: 'Oswald', sans-serif;
  color: #770606;
  letter-spacing: 5px;

  height: 150px;
  width: 300px;
  padding: 30px 30px 0 30px;

  background-color: rgba(243, 240, 240, 0.5);

  left: 1100px;
  bottom: 100px;
  position: absolute;
}

#overlay-text h2 {
  font-style: italic;
  font-family: 'Special Elite', cursive;
}

#features {
  height: 600px;
}

#features h2 {
  margin-top: 50px;
  font-size: 500%;
  font-family: 'Special Elite', cursive;
  text-align: center;
  color: #2e333b;
  letter-spacing: 5px;
  text-transform: uppercase;
}

#left-features {
  width: 33%;
  float: left;
  padding-top: 30px;
}

#center-features {
  width: 33%;
  margin: 0 auto;
  margin-top: 50px;
}

#right-features {
  width: 33%;
  float: right;
  padding-top: 30px;
}

.left-features-heading,
.right-features-heading {
  width: 50%;
  line-height: 50px;
  margin-bottom: 50px;
  clear: both;
  font-size: 110%;
}

.left-features-heading {
  float: right;
}

.right-features-heading {
  float: left;
}

.left-features-heading h3 {
  text-align: left;
  border-bottom: 2px solid #2e333b;
  text-transform: uppercase;
}
.right-features-heading h3 {
  text-align: right;
  border-bottom: 2px solid #2e333b;
  text-transform: uppercase;
}

.left-features-heading p {
  text-align: left;
}

.right-features-heading p {
  text-align: right;
}

.left-features-heading i,
.right-features-heading i {
  font-size: 150%;
}

#circle-container {
  border: 1px solid #2e333b;
  width: 300px;
  height: 300px;
  margin: 0 auto;
  border-radius: 50%;
  padding: 30px;
}

#circle-cover-bg {
  background: url(../img/index/wine-bottles-def.jpg);
  border-radius: 50%;
  height: 100%;
}
#line-break {
  border: 2px solid #770606;
}

#offers {
  background: url(../img/index/wine-hero-image-final.jpg) no-repeat center
    center;
  background-size: cover;
  width: 100%;
  overflow: hidden;
}

#offers-header {
  font-size: 300%;
  color: #2e333b;
  font-family: 'Special Elite', cursive;
  margin: 50px 0 25px 0;
  text-align: center;
}

#offers div {
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.7);
  width: 19%;
  height: 300px;
  float: left;
  padding: 5px;
  margin: 2px;
  font-size: 150%;
  text-align: center;
}

#offers h3 {
  text-transform: uppercase;
  text-decoration: underline;
  margin-bottom: 25px;
}

#offers h4 {
  line-height: 50px;
}

footer {
  height: 150px;
  width: 100%;
}

footer ul {
  margin-top: 100px;
  text-align: center;
}

footer li {
  display: inline;
}

footer a {
  color: #770606;
  font-size: 200%;
  margin: 1%;
  padding: 5%;
}

#photo {
  clear: both;
  line-height: 0;
  column-count: 4;
  column-gap: 0px;
}

#photo img {
  width: 100%;
}

#form-bg {
  background: url(../img/contact-us/form-bg.jpg) no-repeat center center;
  background-size: cover;
  width: 100%;
  height: 500px;
  overflow: hidden;
}

#details {
  height: 50%;
  width: 50%;
  margin: 0 auto;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.5);
  line-height: 100px;
  font-size: 200%;
  text-align: center;
}

#details input {
  height: 25px;
  line-height: 90px;
}
